.app_video{
  height:550px;
  width: 350px;
  background-color: white;
  position: relative;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
html{
  scroll-snap-type: y mandatory;
}
.app{
  background: black;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}
.app_video::-webkit-scrollbar{
  display: none;
}